{% extends 'app_layout.html' %}
{% load crispy_forms_filters %}

{% block title %}Quiz{% endblock %}

{% block create_question %}
    {% if superuser is not False %}
        <a class="mt-2" href="{% url "create_question" %}">Create question →</a>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <ul><h4>{{ field|as_crispy_field }}</h4></ul>
                </div>
            </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endblock %}